 <div class="row">
	<div class="col-md-1">
		 
	</div>
	<div class="col-md-10">
		<div class="card">
		 <div class="div_cust_loading_sign" *ngIf="isLoading"> <div style="position:fixed;width:100%;height:100%;left:0px;top:0px;z-index:50000;background-color:#536c79;opacity:0.95"></div> <div style="position:fixed;width:100%;height:100%;left:0px;top:0px;z-index:60000"><div style="width:25%;height:25%;margin:0px auto;margin-top:20%"><i class="fa fa-spinner fa-pulse fa-4x fa-fw" ></i></div></div> </div>
   
		<div class="card-header" *ngIf="isConfig">
            <i class="fa fa-align-justify"></i> Batch Testing 
          </div>
           <div class="card-body" *ngIf="isConfig">
           <table class="table table-bordered table-striped table-sm">
                <thead>
                  <tr>
                    <th>WR Number</th>
                      <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Creator Name</th>
                    <th>Printing Date</th>
                    <th> Packaging Date</th>
                    <th>Delivery Date</th> 
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody *ngFor="let aTask of listPlangenerateData">
                            <tr>
                                <td>{{aTask.wrnumber}}</td>
                                <td>{{aTask.productname}}</td>
                                 <td>{{aTask.quantity}}</td>
                                <td>{{aTask.creatorname}}</td>
                                  <td>{{aTask.printingdate}}</td>
                                 <td>{{aTask.packagingdate}}</td>
                                   <td>{{aTask.deliverydate}}</td>
                                
                                <td> <a  href="#" (click)="details(aTask.id);$event.preventDefault();" role="button">Details</a> </td>
                            </tr>
                </tbody>
              </table>
           
           
           </div>
		   <div class="card">
          <div class="card-body" *ngIf="isProceed">
				<div class="card-header">
						<strong>Plan Details</strong>
					</div>
					<div class="card-body">			
							<div class="row" >
							  <div class="col-md-12">
								<table style="width:100%" border="1">        
								  <tr>
									<td style="width:25%">Product</td>
									<td style="width:25%;" >{{Product}}</td>
									<td style="width:25%">Vendor</td>
									<td style="width:25%" >{{simVendorName}}</td>
								  </tr>	
								  <tr>
										<td style="width:25%">Start ICCID(s)</td>
										<td style="width:25%;" >
												
														<table class="table-sm">
															 
															 <tbody *ngFor="let id of startIccids;  index as i">
																		 <tr>
																			 <td>{{id}}</td>
																		</tr>
															 </tbody>
														   </table>
										</td>
										<td style="width:25%">End ICCID(s)</td>
										<td style="width:25%" >
												<table class="table-sm">
													 
													 <tbody *ngFor="let id of endIccids ; index as i">
															<tr>
																<td>{{id}}</td>
														   </tr>
													 </tbody>
												   </table>
												</td>
									  </tr>								              
								</table>						
							  </div>				
							</div>
						  </div>
						  </div>
						  </div>
						  <div class="card" *ngIf="isProceed">
            <form [formGroup]="batchTesting" novalidate (ngSubmit)="submit()" >
		<div class="card-body">
					<div class="row">
							<div class="col-md-6">
													<div class="form-group row">
									<label class="col-md-5 col-form-label" >Test For (Number Series)</label>
									<div class="col-md-7">
										
									 <select class="form-control" id="testFor" formControlName="testFor" required >
											<option [value]="017">017</option>
												<option [value]="013">013</option>
												</select>

									</div>
	
	
								</div>
										</div>
							<div class="col-md-6">
													<div class="form-group row">
									<label class="col-md-5 col-form-label" >MSISDN Type</label>
									<div class="col-md-7">
										<select class="form-control" id="msisdntype" formControlName="msisdnType" required >
												
												<option *ngFor="let atype of msisdnTypes" [value]="atype">{{atype}}</option>
											</select>
									</div>
	
	
								</div>
										</div>
					</div>	
				
					
					<div class="row">
							<div class="col-md-6">
													<div class="form-group row">
									<label class="col-md-5 col-form-label" >Test MSISDN</label>
									<div class="col-md-7">
											<input  type="text" class="form-control" 
									 formControlName="testMSISDN" autocomplete="off" >
									</div>
	
	
								</div>
										</div> 
								<div class="col-md-6">
													<div class="form-group row">
									<label class="col-md-5 col-form-label" >Handset Used</label>
									<div class="col-md-7">
											<input  type="text" class="form-control" 
									 formControlName="handsetUsed" autocomplete="off">
									</div>
	
	
								</div>
										</div> 		
										
										
					</div>	
							
				<div class="row">
							<div class="col-md-6">
													<div class="form-group row">
									<label class="col-md-5 col-form-label" >Tested & Approved By </label>
									<div class="col-md-7">
										<input  type="text" class="form-control" 
									 formControlName="testedBy" autocomplete="off">
									</div>
								</div>
							</div>		
					
							<div class="col-md-6">
													<div class="form-group row">
									<label class="col-md-5 col-form-label" >Test Status </label>
									<div class="col-md-7">
										<select class="form-control" id="testStatus" formControlName="testStatus" required >												
												<option *ngFor="let astatus of testStatuses" [value]="astatus">{{astatus}}</option>
										</select>
									</div>
								</div>
							</div>		
					</div>	
					
					<div class="row">
						
										<div class="col-md-6"  >
													<div class="form-group row">
								<label class="col-md-5 col-form-label">Select  Provision:</label>
								<div class="col-md-7">
								<input #fileInput type='file' id="getFile" (click)="fileInput.value = null" accept=".csv"  (change)="handleFileInput($event.target.files)">
									</div>
										</div>	
										</div>
										
										<div class="col-md-6">
											<div class="form-group row">
													<a href="assets/file/SampleProvision.csv" download>Download sample file</a>
											</div>
										</div>	
					</div>	
            </div>
            
            	<div class="card-footer text-right" >
					<button type="submit" [disabled]="!batchTesting.valid  && !isDisableBtn"  class="btn btn-sm btn-primary">
						<i class="fa fa-dot-circle-o"></i> Submit</button>
					
					</div>
            </form>
           </div>
          
           <div class="card-footer" *ngIf="isProceed">
          
				  <button   class="btn btn-sm btn-danger" (click)="cancel()"> Cancel</button>
				  <button   class="btn btn-sm btn-primary" (click)="getData()"> Back To List</button>
           </div>
          
           </div>
           </div>
              
           
           </div>