<div class="row">

    <div class="col-md-4">

        <a href="/#/nsa/testsim-mysims">
            <div class="callout callout-info">
                <small class="text-muted">Number of Test SIMs you have</small>
                <br>
                <strong class="h4">{{numberOfTestSims}}</strong>
                <div class="chart-wrapper">              
                </div>
            </div>
        </a>

    </div>

</div>

<hr />

<div class="row">

    <div class="col-md-4">
        
        <a href="/#/nsa/newrequisition">
            <div class="callout callout-primary">
                <small class="text-muted">Approval needed - new requisition</small>
                <br>
                <strong class="h4">{{numberOfTestSims1}}</strong>
                <div class="chart-wrapper">              
                </div>
            </div>
        </a>

    </div>

    
    <div class="col-md-4">
        <a href="/#/nsa/testsim-timeext-ssm">
            <div class="callout callout-success">
                <small class="text-muted">Approval needed - time extension</small>
                <br>
                <strong class="h4">{{numberOfTestSims2}}</strong>
                <div class="chart-wrapper">              
                </div>
            </div>
        </a>
    </div>
    


    <div class="col-md-4">
        <a href="/#/nsa/testsim-creditlimitext-ssm">    
            <div class="callout callout-danger">
                <small class="text-muted">Approval needed - credit limit update</small>
                <br>
                <strong class="h4">{{numberOfTestSims3}}</strong>
                <div class="chart-wrapper">              
                </div>
            </div>
        </a>    
    </div>
    


    <div class="col-md-4">
        <a href="/#/nsa/testsim-transfer-ssm">
            <div class="callout callout-primary">
                <small class="text-muted">Approval needed - SIM transfer</small>
                <br>
                <strong class="h4">{{numberOfTestSims4}}</strong>
                <div class="chart-wrapper">              
                </div>
            </div>
        </a>
    </div>
    


    <div class="col-md-4">
        <a href="/#/nsa/testsim-lost-ssm">
            <div class="callout callout-success">
                <small class="text-muted">Approval needed - Lost SIM</small>
                <br>
                <strong class="h4">{{numberOfTestSims5}}</strong>
                <div class="chart-wrapper">              
                </div>
            </div>
        </a>
    </div>
    


    <div class="col-md-4">
        <a href="/#/nsa/testsim-damaged-ssm">
            <div class="callout callout-danger">
                <small class="text-muted">Approval needed - Damaged SIM</small>
                <br>
                <strong class="h4">{{numberOfTestSims6}}</strong>
                <div class="chart-wrapper">              
                </div>
            </div>
        </a>
    </div>
    


    <div class="col-md-4">
        <a href="/#/nsa/activation-pendingregistrations">
            <div class="callout callout-primary">
                <small class="text-muted">Pending Biometric Registration</small>
                <br>
                <strong class="h4">{{numberOfTestSims7}}</strong>
                <div class="chart-wrapper">              
                </div>
            </div>
        </a>
    </div>
    


    <div class="col-md-4">
        <a href="/#/nsa/activation-pendingapprovals">
            <div class="callout callout-success">
                <small class="text-muted">Pending Activation Approval</small>
                <br>
                <strong class="h4">{{numberOfTestSims8}}</strong>
                <div class="chart-wrapper">              
                </div>
            </div>
        </a>
    </div>


    <!--<div class="col-md-4">

    </div>

    <div class="col-md-12">

    </div>-->

</div>