<div class="row">

    <div class="col-md-12">

        <div class="callout callout-info">
            <small class="text-muted">Number of Test SIMs you have</small>
            <br>
            <strong class="h4">{{numberOfTestSims}}</strong>
            <div class="chart-wrapper">              
            </div>
        </div>

    </div>

</div>

<hr />

<div class="row">

    <div class="col-md-12">

        <div class="callout callout-info">
            <small class="text-muted">Approval needed - new requisition</small>
            <br>
            <strong class="h4">{{numberOfTestSims}}</strong>
            <div class="chart-wrapper">              
            </div>
        </div>

        <div class="callout callout-info">
            <small class="text-muted">Approval needed - time extension</small>
            <br>
            <strong class="h4">{{numberOfTestSims}}</strong>
            <div class="chart-wrapper">              
            </div>
        </div>

        <div class="callout callout-info">
            <small class="text-muted">Approval needed - credit limit update</small>
            <br>
            <strong class="h4">{{numberOfTestSims}}</strong>
            <div class="chart-wrapper">              
            </div>
        </div>

        <div class="callout callout-info">
            <small class="text-muted">Approval needed - SIM transfer</small>
            <br>
            <strong class="h4">{{numberOfTestSims}}</strong>
            <div class="chart-wrapper">              
            </div>
        </div>


        <div class="callout callout-info">
            <small class="text-muted">Approval needed - Lost SIM</small>
            <br>
            <strong class="h4">{{numberOfTestSims}}</strong>
            <div class="chart-wrapper">              
            </div>
        </div>

        <div class="callout callout-info">
            <small class="text-muted">Approval needed - Damaged SIM</small>
            <br>
            <strong class="h4">{{numberOfTestSims}}</strong>
            <div class="chart-wrapper">              
            </div>
        </div>

        <div class="callout callout-info">
            <small class="text-muted">Pending Biometric Registration</small>
            <br>
            <strong class="h4">{{numberOfTestSims}}</strong>
            <div class="chart-wrapper">              
            </div>
        </div>

        <div class="callout callout-info">
            <small class="text-muted">Pending Activation Approval</small>
            <br>
            <strong class="h4">{{numberOfTestSims}}</strong>
            <div class="chart-wrapper">              
            </div>
        </div>

    </div>

</div>