<div class="row">

    <div class="col-md-12">
      
      <div class="card" style="border:0px !important;background:transparent !important">
      </div>
      <div class="card">
      <div class="card-header">
            <i class="fa fa-align-justify"></i>  <label style="font-size:0.8em;width:180px;height:50px;margin-left: 20px;border-style: double;background-color: #0F3869;color: white
                     " >Convert To HLR</label>
          </div>
        <div class="card-body">
        
            <div class="row mt-5 form-inline ">
                <div class="form-group mx-sm-3">
                    <input type="file" classs="file-input">
                    
                     
                     
                </div>
                </div>
                </div>
                
          
          </div>
          
          </div>
           
          </div> 