<div class="row">

    <div class="col-md-12">
      
      <div class="card" style="border:0px !important;background:transparent !important">
      </div>
      <div class="card">
      <div class="card-header">
            <i class="fa fa-align-justify"></i>Input File
          </div>
          <div class="card-body">
            <div class="row mt-5 form-inline ">
                <div class="form-group mx-sm-3">
                    <input type="text" placeholder="PO Number" [(ngModel)]="PoNumber">
                     <label style="font-size:0.8em;width:80px;height:30px;margin-left: 20px;border-style: double;background-color: #0F3869;color: white
                     " (click) ="search()" >Find</label>
                </div>
                </div>
             <div class="card-body" *ngIf="isDataFound">
              <i class="fa fa-align-justify"></i> > PO Details
              <table class="table table-bordered table-striped table-sm">
                <thead>
                  <tr>
                    <th>PO Number</th>
                    <th>Available Quantity</th>
                    <th>Vendor Name</th>
                     <th>PO Expire Date</th>
                  </tr>
                </thead>
                <tbody *ngFor="let aTask of rowData ">
                            <tr>
                               <td>{{aTask.id}}</td>
                                <td>{{aTask.availableQuantity}}</td>
                                <td>{{aTask.supplier}}</td>
                                <td>{{aTask.poExpireDate}}</td>
                            </tr>
                </tbody>
              </table>
              
            </div>
            
             <div class="card-header" *ngIf="isDataFound">
            <div style="padding-bottom: 4px;">
              <label> <b>Input File </b></label>
                <label style="font-size:0.8em;width:60px;height:30px;margin-left: 20px;border-style: double;background-color: #0F3869;color: white
                     " (click) ="submit()" >Generate</label>
              <label style="float:right" (click)="save()"> <button >Finalize & Download</button> </label>
            </div>
            
                          
           <div style="padding-bottom: 4px;">
           <span class="firstLabel" style="margin-right: 200px;"> IMSI TYPE
          <select id="wgtmsr"   name="Imsi Type"
									required  [(ngModel)]="ImsiType">
									<option></option>
												<option *ngFor="let aIMSI of listIMSI" [value]="aIMSI.group_name">{{aIMSI.group_name}}</option>
											</select>
       
                                                               </span>
		<span class="secondLabel" style="margin-left: 200px;"> Quantity
		    <input id="wgtmsr"  type="text"  [(ngModel)]="Quantity" required>
		</span>           
           </div>
           <div style="padding-bottom: 4px;">  
           <span class="firstLabel" style="margin-right: 200px;">Artwork 
            <select id="wgtmsr"  [(ngModel)]="Artwork" required>
                                                                      	<option></option>
												<option *ngFor="let aIMSI of listArtwork" [value]="aIMSI.group_name">{{aIMSI.group_name}}</option>
											</select>

                                                                         
                                                                </span>
		<span class="secondLabel" style="margin-left: 200px;" > STK
		   <select id="wgtmsr"   [(ngModel)]="STK" required >
                                       	<option></option>
										<option *ngFor="let aIMSI of listStk" [value]="aIMSI.group_name">{{aIMSI.group_name}}</option>
											</select>
		</span>   
           </div>
           
         			  <div style="padding-bottom: 4px;">
       			  <span class="firstLabel" style="margin-right: 200px;"> Vendor
       					     <select id="wgtmsr"  [(ngModel)]="Vendor" required >
                                                                    	<option></option>
												<option *ngFor="let aIMSI of listVendor" [value]="aIMSI.group_name">{{aIMSI.group_name}}</option>
											</select>       
                                                               </span>

           </div>
                   
           <div *ngIf="isDataFoundOther">
           <table class="table table-bordered table-striped table-sm">
                <thead>
                  <tr>
                    <th>PO Number</th>
                    <th>Item Description</th>
                    <th>Start IMSI</th>
                     <th>End IMSI</th>
                     <th>Start ICCID</th>
                    <th>End ICCID</th>
                     <th>Quantity</th>
                     <th>STK </th>
                     <th>Artwork</th>
                  </tr>
                </thead>
                <tbody *ngFor="let bTask of insertRowData ">
                            <tr>
                               <td>{{bTask.poNumber}}</td>
                                <td>{{bTask.description}}</td>
                                <td>{{bTask.startImsi}}</td>
                                <td>{{bTask.endImsi}}</td>
                                 <td>{{bTask.startIccid}}</td>
                                <td>{{bTask.endIccid}}</td>
                                <td>{{bTask.quantity}}</td>
                                <td>{{bTask.stk}}</td>
                            	<td>{{bTask.artwork}}</td>
                            </tr>
                </tbody>
              </table>
           
            </div>
          <div class="card-body"  *ngIf="!isDataFound" >
            <div class="alert alert-primary" role="alert" ><b>System found no data</b></div>
          </div>
     	 </div>
  </div>
    </div>
  
  </div>
  