<div class="row">

    <div class="col-md-12">
      
      <div class="card" style="border:0px !important;background:transparent !important">
      </div>
      <div class="card">
      <div class="card-header">
            <i class="fa fa-align-justify"></i> PO Information
          </div>
          <div class="card-body">
            <div class="row mt-5 form-inline ">
                <div class="form-group mx-sm-3">
                 
                    <input type="text" placeholder="PO Number" [(ngModel)]="PoNumber">
                     <label style="font-size:0.8em;width:80px;height:40px;margin-left: 20px;border-style: double;background-color: #0F3869;color: white
                     " (click) ="search()" >Find</label>
 					<label style="margin-left: 800px;" (click) ="download()" > <button >Download</button> </label>
                </div>
             <div class="card-body" *ngIf="isDataFound">
              <table class="table table-bordered table-striped table-sm">
                <thead>
                  <tr>
                    <th>PO Date</th>
                    <th>PO Number</th>
                    <th>Item Number</th>
                    <th>Item Description</th>
                    <th>PO Expire Date</th>
                    <th>Total Quantity</th>
                    <th>Vendor Name</th>
                    <th>Unit Price</th>
                    <th>Amount(BDT)</th>
                  </tr>
                </thead>
                <tbody *ngFor="let aTask of rowData ">
                            <tr>
                                <td>{{aTask.poDate}}</td>
                                <td>{{aTask.id}}</td>
                                <td>{{aTask.itemNumber}}</td>
                                <td>{{aTask.itemDescription}}</td>
                                <td>{{aTask.poExpireDate}}</td>
                                <td>{{aTask.totalQuantity}}</td>
                                <td>{{aTask.supplier}}</td>
                                <td>{{aTask.price}}</td>
                                <td> {{aTask.amount}} </td>
                            </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-body"  *ngIf="!isDataFound" >
            <div class="alert alert-primary" role="alert" ><b>System found no data</b></div>
          </div>
     	 </div>
  </div>
    </div>
  
  </div>
  