btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #bdb5b5 !important;
  border: 4px solid #cccac5;
  color: black;
}
#wgtmsr{
 margin-left :150px;
 width:200px;   
}

.firstLabel {
    margin-right: 50px;
}
.secondLabel{
            float:right}
.pagination {
  display: inline-block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  cursor: pointer;

  &.active {
    background-color: #4CAF50;
    color: white;
  }

  &:hover:not(.active) {
    background-color: #ddd;
  }
}
