btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #bdb5b5 !important;
  border: 4px solid #cccac5;
  color: black;
}

#wgtmsr {
  margin-left: 150px;
  width: 200px;
}

.firstLabel {
  margin-right: 50px;
}

.secondLabel {
  float: right
}

.file-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  float: right
}

.pagination {
  display: inline-block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  cursor: pointer;

  &.active {
    background-color: #4CAF50;
    color: white;
  }

  &:hover:not(.active) {
    background-color: #ddd;
  }
}

input[type=radio] {
  border: 0px;
  width: 100%;
  height: 2em;
}


.recycle-bar {
  border: 1px solid #ded6d6;
}

.recycle {
  width: 54%;
  padding: 10px 10px 10px 10px;
  margin-top: 77px;
  margin-left: 253px;
  background-color: white;
  border: 1px solid #8c8888;
}

.recycle-download {
  width: 100%;
  background-color: #D3D3D3;
  position: relative;
  border: 1px solid #D3D3D3;
  margin-top: 10px;

}

.recycle-collapse {
  font-size: smaller;
  color: #212020;
  font-family: ui-serif;
  padding-left: 10px;
}

button {
  margin-left: 12px;
  margin-top: 8px;
}

.dnd-bar {
  border: 1px solid #00BFFF;
  width: 100%;
  height: 26px;
  background-color: #10b5ec;
  border-radius: 11px;
  margin-bottom: 12px;
}

.recycle h5 {
  font-size: 26px;
  font-weight: 00;
  font-family: Courier New;
}

.warehouse-card .form-row {
  margin-top: 15px;
}

input[type=radio].form-control-radio {
  width: 28px;
  vertical-align: middle;
  display: inline-block;
}