<div class="app flex-row align-items-center">
  <div class="container">
  
  
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <h1>Login</h1>
			  <form name="loginForm">
              <p class="text-muted">Sign In to your account</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username"  [ngModelOptions]="{standalone: true}" (keyup.enter)="ValidateUser()">
              </div>

              <div class="input-group mb-4">
                <!--<div class="input-group-prepend-c">
                  <span class="input-group-text"><i class="icon-star"></i></span>
                </div>-->
                <input style="width:20px !important; margin-top:1%" type="checkbox" class="" [(ngModel)]="isDelegateAccess"  [ngModelOptions]="{standalone: true}" > Log in as a delegate
              </div>

              <div class="input-group mb-4" *ngIf="isDelegateAccess">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-star"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Delegate username" [(ngModel)]="delegateusername"  [ngModelOptions]="{standalone: true}" >
              </div>

              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password"  [ngModelOptions]="{standalone: true}" (keyup.enter)="ValidateUser()">
              </div>
              
              <div class="row">
                <div class="col-6">
                  <button type="button" class="btn btn-primary px-4" (click)= "ValidateUser()" >Login</button>
                 
                  <i class="fa fa-spinner fa-pulse fa-3x fa-fw" *ngIf="isLoading"></i>


                </div>
                <div class="col-6 text-right">
                 <!-- <button type="button" class="btn btn-link px-0">Forgot password?</button>-->
                </div>
              </div>
				<div *ngIf="!isValidUser">
				<div class="alert alert-danger">
				  Please provide correct username and password.
        </div>
<!--        <div *ngIf="isLoading">
          <div class="spinner-grow text-success">TESTING</div>
          
        </div>
      -->    
                  
        

			  </div>
				</form>
				
				
				
			</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
