<div class="container mt-5">
    <div class="alert alert-danger mt-5 col-sm-10 pt-2 pb-0" role="alert" align="center" *ngIf="analyzeenable">
        <p>{{analyzealert}}</p>
    </div>

    <div class="mb-3"><strong>
        Analyze List
    </strong></div>
    <div class="table-responsive" style="font-size: 13px;
    font-family: sans-serif;">
        <table class="table table-bordered">
            <thead>
                <tr style="background-color: #27bbec; color: white">
                    <th>LIST NO</th>
                    <th>FROM DATE</th>
                    <th>END DATE</th>
                    <th>MSISDN COUNT</th>
                    <th>LINK</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of misisdnList">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.startDate| date: 'dd-MM-yyyy'}}</td>
                    <td>{{item.endDate | date: 'dd-MM-yyyy'}}</td>
                    <td>{{item.msisdnCount}}</td>
                    <td>
                        <a href="#" (click)="downloadfile(item.csvFilePath,item.startDate,item.endDate,item.id);$event.preventDefault()" class="mx-sm-3" role="button">download</a>
                        <a href="#" (click)="clear(item.id);$event.preventDefault();" role="button">clear</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>