<div class="container mt-5">
    <div class="alert alert-danger mt-5 col-sm-10 pt-2 pb-0" role="alert" align="center" *ngIf="genenable">
        <p>{{genalert}}</p>
    </div>
    <div style="text-align: right; margin-bottom: 10px">
        Pages:
        <span (click)="changePage(i)" *ngFor="let k of [].constructor(totalPage); index as i" class="pagination" [class.active]="i + 1 == currentPage">{{i + 1}}</span>
    </div>
    <div class="table-responsive" style="font-size: 13px; font-family: sans-serif;">
        <table class="table table-bordered">
            <thead>
            <tr style="background-color: #27bbec; color: white">
                <th (click)="changeSort()" style="cursor: pointer">LIST NO <i class="fa fa-sort-{{sortDir}}"></i></th>
                <th>FROM DATE</th>
                <th>END DATE</th>
                <th>MSISDN COUNT</th>
                <th>LINK</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of misisdnList">
                <th scope="row">{{item.id}}</th>
                <td>{{item.startDate | date: 'dd-MM-yyyy'}}</td>
                <td>{{item.endDate | date: 'dd-MM-yyyy'}}</td>
                <td>{{item.msisdnCount}}</td>
                <td>
                    <a download="" href="#" class="mx-sm-3" role="button" (click)="downloadCSVFile(item.csvFilePath)">Download</a>
                    <a *ngIf="isForAnalyze" href="#" (click)="clear(item.id);$event.preventDefault();" role="button">Clear</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
