<div class="container">
    <div class="alert alert-danger mt-5 col-sm-10 pt-2 pb-0" role="alert" align="center" *ngIf="genenable">
        <p>{{genalert}}</p>
    </div>
    <form #gpForm="ngForm">
        <div class="container">
            <div class="row mt-5 form-inline ">
                <div class="form-group mx-sm-3">
                    <label for="startdate" class="mx-sm-5">Start Date</label>
                    <input type="text" placeholder="Datepicker" [bsConfig]="{dateInputFormat: 'DD-MM-YYYY',showWeekNumbers: false }" [(ngModel)]="startdate"
                           placeholder="DD/MM/YYYY" [maxDate]="maxDate" autocomplete="off" class="form-control form-control-sm"
                           name="startdate" id="startdate" #sdate="ngModel" bsDatepicker required [(bsValue)]="startdate" (ngModelChange)="changeStartDate()">

                </div>
                <div class="form-group mx-sm-5">
                    <label for="enddate" class="mx-sm-5">End Date</label>
                    <input type="text" placeholder="Datepicker" [bsConfig]="{dateInputFormat: 'DD-MM-YYYY',showWeekNumbers: false }" [(ngModel)]="enddate"
                           class="form-control form-control-sm" autocomplete="off" id="enddate" name="enddate" [minDate]="minDate" placeholder="DD/MM/YYYY"
                           #edate="ngModel" bsDatepicker required (ngModelChange)="changeEndDate()">

                </div>
                <div style="text-align: center">
                    <div class="div_cust_loading_sign" *ngIf="isLoading">
                        <div style="position:fixed;width:100%;height:100%;left:0px;top:0px;z-index:50000;background-color:#536c79;opacity:0.95"></div>
                        <div style="position:fixed;width:100%;height:100%;left:0px;top:0px;z-index:60000">
                            <div style="width:25%;height:25%;margin:0px auto;margin-top:20%">
                                <i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <button class="btn btn-primary" (click)="generate(false)" [disabled]="!gpForm.valid" style="margin-right:10px;">Generate</button>
                </div>
                <div class="form-group  ml-4">
                    <button class="btn btn-primary" (click)="generate(true)" [disabled]="!gpForm.valid" style="margin-right:10px;">Analyze</button>
                </div>
            </div>
            <div class="row generate-analyze-date">
                <div *ngIf="sdate.touched" class="start-date">
                    <p *ngIf="sdate.errors?.required">Start Date Required</p>
                </div>
                <div *ngIf="edate.touched" class="end-date">
                    <p *ngIf="edate.errors?.required">End Date Required</p>
                </div>
            </div>
        </div>
    </form>

    <div class="mt-2">
        <p style="color:red" *ngIf="dateerror"> End Date must be greater than Start Date</p>
    </div>
</div>