<div class="card">

  <div class="card-header">
    <strong>Employee Details</strong>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <table style="width:100%" border="1">
          <tr>
            <td style="width:25%">Employee ID.</td>
            <td style="width:25%;" bgcolor="#dcdcdc">{{requisition['employeeDetails']['employeeNo']}}</td>
            <td style="width:25%">Mobile No.</td>
            <td style="width:25%" bgcolor="#dcdcdc">{{requisition['employeeDetails']['mobileNumber']}}</td>
          </tr>
          <tr>
            <td style="width:25%">Employee Name</td>
            <td style="width:25%;" bgcolor="#dcdcdc">{{requisition['employeeDetails']['fullName']}}</td>
            <td style="width:25%">Designation</td>
            <td style="width:25%" bgcolor="#dcdcdc">{{requisition['employeeDetails']['designation']}}</td>
          </tr>
          <tr>
            <td style="width:25%">Department</td>
            <td style="width:25%;" bgcolor="#dcdcdc">{{requisition['employeeDetails']['departmentName']}}</td>
            <td style="width:25%">Division</td>
            <td style="width:25%" bgcolor="#dcdcdc">{{requisition['employeeDetails']['divisionName']}}</td>
          </tr>
          <tr>
            <td style="width:25%">Email</td>
            <td style="width:25%;" bgcolor="#dcdcdc">{{requisition['employeeDetails']['emailAddress']}}</td>
            <td style="width:25%"></td>
            <td style="width:25%" bgcolor="#dcdcdc"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>

<br />

<div class="card">

  <div class="card-header">
    <strong>Requisition Details</strong>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <table style="width:100%" border="1">
          <tr>
            <td style="width:25%">Requisition No</td>
            <td style="width:25%;" bgcolor="#dcdcdc">{{requisition['requisitionDetails']['requisitionNo']}}</td>
            <td style="width:25%">Date of requisition</td>
            <td style="width:25%" bgcolor="#dcdcdc">{{requisition['requisitionDetails']['requisitionDt']}}</td>
          </tr>
          <tr>
            <td style="width:25%">Requisition Type</td>
            <td style="width:25%;" bgcolor="#dcdcdc">{{requisition['requisitionDetails']['requisitionType']}}</td>
            <td style="width:25%">Purpose Category</td>
            <td style="width:25%" bgcolor="#dcdcdc">{{requisition['requisitionDetails']['purposeCategory']}}</td>
          </tr>
          <tr>
            <td style="width:25%">Purpose Details</td>
            <td style="width:25%;" bgcolor="#dcdcdc">{{requisition['requisitionDetails']['purposeDetails']}}</td>
            <td style="width:25%">Expected Test Start Date</td>
            <td style="width:25%" bgcolor="#dcdcdc">{{requisition['requisitionDetails']['testStartDt']}}</td>
          </tr>
          <tr>
            <td style="width:25%">Expected Test End Date</td>
            <td style="width:25%;" bgcolor="#dcdcdc">{{requisition['requisitionDetails']['testCompletionDt']}}</td>
            <td style="width:25%">Location</td>
            <td style="width:25%" bgcolor="#dcdcdc">{{requisition['requisitionDetails']['locationDetails']}}</td>
          </tr>
          <!-- <tr>
            <td style="width:25%">Test Mobile Number</td>
            <td style="width:75%;" colspan="3" bgcolor="#dcdcdc">{{requisition['requisitionDetails']['usageCategory']}}
            </td>
          </tr> -->
        </table>
      </div>
    </div>
  </div>

</div>

<br />

<div class="card">

  <div class="card-header">
    <strong>Requisition Line Items</strong>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <table style="width:100%" border="1">

          <thead>
            <tr>
              <th>Product</th>
              <th>Sc Quantity</th>
              <div
                *ngIf="(requisition.requisitionDetails.current_hop_seq===5 && requisition.employeeDetails.userGroup.nsaUsersGroupName==='GENERAL') || (requisition.requisitionDetails.current_hop_seq===3 && requisition.employeeDetails.userGroup.nsaUsersGroupName==='SSM')">
                <th>Upload File[ .CSV ]</th>
              </div>
              <!-- <div *ngIf="currentLoggedInUser.groupName!=='CLC'"> -->
                <th *ngIf="currentLoggedInUser.groupName!=='CLC' && !(requisition.requisitionDetails.current_hop_seq===5 && requisition.employeeDetails.userGroup.nsaUsersGroupName==='SSM') && !(requisition.requisitionDetails.current_hop_seq===7 && requisition.employeeDetails.userGroup.nsaUsersGroupName==='GENERAL')"  >Action</th>
              <!-- </div> -->
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let c of requisition['requisitionLines']; index as i">
              <td>{{ c.productName }}</td>
              <td>{{ c.quantity }}</td>
              <!-- <td>{{ c.cardExpiry }}</td> -->
              <div
                *ngIf="(requisition.requisitionDetails.current_hop_seq===5 && requisition.employeeDetails.userGroup.nsaUsersGroupName==='GENERAL') || (requisition.requisitionDetails.current_hop_seq===3 && requisition.employeeDetails.userGroup.nsaUsersGroupName==='SSM')">
                <td>
                 
                  <input type="file" id="reFilename{{i}}" name="reFilename{{i}}" accept=".xlsx,.csv"
                    class="form-control" (change)="onFileChange($event,c.quantity)">
                </td>
              </div>

              <!-- <div *ngIf="currentLoggedInUser.groupName!=='CLC'"> -->
                <td *ngIf="currentLoggedInUser.groupName!=='CLC' && !(requisition.requisitionDetails.current_hop_seq===5 && requisition.employeeDetails.userGroup.nsaUsersGroupName==='SSM') && !(requisition.requisitionDetails.current_hop_seq===7 && requisition.employeeDetails.userGroup.nsaUsersGroupName==='GENERAL')">
                  <button type="button" style="color:red" (click)="deleteRequisitionLine(c)" class=""><i
                      class="fa fa-ban"></i> Delete</button>
                </td>
              <!-- </div> -->
            </tr>
          </tbody>


        </table>
      </div>
    </div>
    <br />
    <div class="demo-container"
      *ngIf="(requisition.requisitionDetails.current_hop_seq===5 && requisition.employeeDetails.userGroup.nsaUsersGroupName==='GENERAL') || (requisition.requisitionDetails.current_hop_seq===3 && requisition.employeeDetails.userGroup.nsaUsersGroupName==='SSM')">
      <a href="data:text/csv;charset=utf-8,Batch,Start Serial,End Serial,Denomination
54721,1000000000020,1000000000030,11TK Voice" download="data.csv">
        <button type="'button">Download Sample File</button>
      </a>
    </div>

  </div>

</div>

<div *ngIf="currentLoggedInUser.groupName==='CLC'">
<div class="card">
  <!-- <div class="card-header">
    <strong>Requisition Line Items</strong>
  </div> -->
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <table style="width:100%" border="1">

          <thead>
            <tr>
              <th>Batch</th>
              <th>Start Serial</th>
              <th>End Serial</th>
              <th>Quantity</th>
              <th>Denomination</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let c of requisition['requisitionFileDetails']; index as i">
              <td>{{c.batch}}</td>
              <td>{{c.startSerial}}</td>
              <td>{{c.endSerial}}</td>
              <td>{{c.qty}}</td>
              <td>{{c.denomination}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
  <!-- *ngIf="currentLoggedInUser.groupName==='SSM'"
(currentStatus !== 'open' && currentStatus !== 'reopen') -->
  <br />

  <!-- <div class="card"> -->

  <!-- <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        Comments: <textarea rows="6" cols="75" [(ngModel)]="requisition_comments"></textarea>

        <br /><br />

        <a style="width:120px" class="btn btn-success" (click)="approve()">Approve</a>
        <a style="width:120px" class="btn btn-danger" (click)="reject()">Reject</a>
        <a style="width:120px" class="btn btn-primary" (click)="rfi()">RFI</a>

      </div>
    </div>
  </div>
   -->
  <br />

  <div class="card">

    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          Comments: <textarea rows="6" cols="75" [(ngModel)]="requisition_comments"></textarea>

          <br /><br />
          <div style="display:inline-flex">
            <div
              *ngIf="(requisition.requisitionDetails.current_hop_seq===5 && requisition.employeeDetails.userGroup.nsaUsersGroupName==='GENERAL') || (requisition.requisitionDetails.current_hop_seq===3 && requisition.employeeDetails.userGroup.nsaUsersGroupName==='SSM')">
              <input type="button" style="width:120px" [disabled]="!isFileLoaded" class="btn btn-success"
                value="Approve" (click)="approve()">
            </div>
            <div
              *ngIf="requisition.requisitionDetails.current_hop_seq===1 || requisition.requisitionDetails.current_hop_seq===2 || (requisition.requisitionDetails.current_hop_seq===3 && requisition.employeeDetails.userGroup.nsaUsersGroupName==='GENERAL') || requisition.requisitionDetails.current_hop_seq===4 || (requisition.requisitionDetails.current_hop_seq===5 && requisition.employeeDetails.userGroup.nsaUsersGroupName==='SSM') || requisition.requisitionDetails.current_hop_seq===6 || requisition.requisitionDetails.current_hop_seq===7 ">
              <a style="width:120px" class="btn btn-success" (click)="approve()">Approve</a>
            </div>
            <!-- <div *ngIf="(requisition.requisitionDetails.current_hop_seq===3 && currentLoggedInUser.groupName==='GENERAL')">
            <a style="width:120px" class="btn btn-success"  (click) = "approve()" >Approve</a>
          </div> -->
            <a style="width:120px" class="btn btn-danger" (click)="reject()">Reject</a>
            <a *ngIf="(requisition.requisitionDetails.current_hop_seq===2) || (requisition.requisitionDetails.current_hop_seq===3 && currentLoggedInUser.groupName!=='SSM')"
              style="width:120px" class="btn btn-primary" (click)="rfi()">RFI</a>
          </div>
        </div>
      </div>
    </div>

  </div>