<div class="card">

  <div class="card-header">
    <strong>Employee Details</strong>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <table style="width:100%" border="1">
          <tr>
            <td style="width:25%">Employee ID.</td>
            <td style="width:25%;" bgcolor="#dcdcdc">{{requisition['employeeDetails']['employeeNo']}}</td>
            <td style="width:25%">Mobile No.</td>
            <td style="width:25%" bgcolor="#dcdcdc">{{requisition['employeeDetails']['mobileNumber']}}</td>
          </tr>
          <tr>
            <td style="width:25%">Employee Name</td>
            <td style="width:25%;" bgcolor="#dcdcdc">{{requisition['employeeDetails']['fullName']}}</td>
            <td style="width:25%">Designation</td>
            <td style="width:25%" bgcolor="#dcdcdc">{{requisition['employeeDetails']['designation']}}</td>
          </tr>
          <tr>
            <td style="width:25%">Department</td>
            <td style="width:25%;" bgcolor="#dcdcdc">{{requisition['employeeDetails']['departmentName']}}</td>
            <td style="width:25%">Division</td>
            <td style="width:25%" bgcolor="#dcdcdc">{{requisition['employeeDetails']['divisionName']}}</td>
          </tr>
          <tr>
            <td style="width:25%">Email</td>
            <td style="width:25%;" bgcolor="#dcdcdc">{{requisition['employeeDetails']['emailAddress']}}</td>
            <td style="width:25%"></td>
            <td style="width:25%" bgcolor="#dcdcdc"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>

<br />

<div class="card">

  <div class="card-header">
    <strong>Requisition Details</strong>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <table style="width:100%" border="1">
          <tr>
            <td style="width:25%">Requisition No</td>
            <td style="width:25%;" bgcolor="#dcdcdc">{{requisition['requisitionDetails']['requisitionNo']}}</td>
            <td style="width:25%">Date of requisition</td>
            <td style="width:25%" bgcolor="#dcdcdc">{{requisition['requisitionDetails']['requisitionDt']}}</td>
          </tr>
          <tr>
            <td style="width:25%">Requisition Type</td>
            <td style="width:25%;" bgcolor="#dcdcdc">{{requisition['requisitionDetails']['requisitionType']}}</td>
            <td style="width:25%">Purpose Category</td>
            <td style="width:25%" bgcolor="#dcdcdc">{{requisition['requisitionDetails']['purposeCategory']}}</td>
          </tr>
          <tr>
            <td style="width:25%">Purpose Details</td>
            <td style="width:25%;" bgcolor="#dcdcdc">{{requisition['requisitionDetails']['purposeDetails']}}</td>
            <td style="width:25%">Expected Test Start Date</td>
            <td style="width:25%" bgcolor="#dcdcdc">{{requisition['requisitionDetails']['testStartDt']}}</td>
          </tr>
          <tr>
            <td style="width:25%">Expected Test End Date</td>
            <td style="width:25%;" bgcolor="#dcdcdc">{{requisition['requisitionDetails']['testCompletionDt']}}</td>
            <td style="width:25%">Location</td>
            <td style="width:25%" bgcolor="#dcdcdc">{{requisition['requisitionDetails']['locationDetails']}}</td>
          </tr>
          <!-- <tr>
            <td style="width:25%">Test Mobile Number</td>
            <td style="width:75%;" colspan="3" bgcolor="#dcdcdc">{{requisition['requisitionDetails']['usageCategory']}}
            </td>
          </tr> -->
        </table>
      </div>
    </div>
  </div>

</div>

<br />

<div class="card">

  <div class="card-header">
    <strong>Requisition Line Items</strong>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <table style="width:100%" border="1">

          <thead>
            <tr>
              <th>Product</th>
              <th>Sc Quantity</th>
              <th>Upload File</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let c of requisition['requisitionLines']; index as i">
              <td>{{ c.productName }}</td>
              <td>{{ c.quantity }}</td>
              <td>
                <div *ngIf="currentLoggedInUser.groupName==='SSM'">
                  <!-- [ngClass]="{
  
                    'is-invalid': reFilename.invalid && (reFilename.dirty || reFilename.touched),

                    'is-valid': reFilename.valid && (reFilename.dirty || reFilename.touched)

                   }" -->
                  <input type="file" id="reFilename{{i}}" name="reFilename{{i}}"  accept=".xlsx,.csv"
                    class="form-control"   (change)="onFileChange($event,c.quantity,c.cardExpiry)">
                </div>
              </td>
              <td>
                <button type="button" style="color:red" (click)="deleteRequisitionLine(c)" class=""><i class="fa fa-ban"></i> Delete</button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>

</div>

<br />

<!-- <div class="card"> -->

  <!-- <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        Comments: <textarea rows="6" cols="75" [(ngModel)]="requisition_comments"></textarea>

        <br /><br />

        <a style="width:120px" class="btn btn-success" (click)="approve()">Approve</a>
        <a style="width:120px" class="btn btn-danger" (click)="reject()">Reject</a>
        <a style="width:120px" class="btn btn-primary" (click)="rfi()">RFI</a>

      </div>
    </div>
  </div>
   -->
  <br />
  
  <div class="card">
  
      <div class="card-body">			
        <div class="row" >
          <div class="col-md-12">
            Comments: <textarea rows="6" cols="75" [(ngModel)] = "requisition_comments"></textarea>				
            
            <br /><br />
  
            <a style="width:120px" class="btn btn-success" (click) = "approve()" >Approve</a>
            <a style="width:120px" class="btn btn-danger" (click) = "reject()" >Reject</a>
            <a *ngIf="currentLoggedInUser.groupName==='GENERAL'" style="width:120px" class="btn btn-primary" (click) = "rfi()" >RFI</a>
  
          </div>				
        </div>
      </div>
    
    </div>