<div class="row">

    <div class="col-md-12">
      
      <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> My other Test SIMs (<b>not active SIMs</b>)
          </div>
          <div class="card-body" *ngIf="isDataFoundOther">
  
              <ag-grid-angular 
                #agGridTable2
                style="width: 100%; height: 330px;"
                id="myGridTable2"
                class="ag-theme-balham"          
                [floatingFilter]="true"
                [columnTypes]="columnTypes"
                [columnDefs]="columnDefs"
                [rowData]="rowDataTable2"
                (gridReady)="onGridReadyTable2($event)"
                >
              </ag-grid-angular>
          </div>
          <div class="card-body" *ngIf="!isDataFoundOther">
              <div class="alert alert-primary" role="alert" ><b>System found no other (non-active) test SIMs</b></div>
          </div>
      </div>
  
    </div>
  
  
  </div>
  