<div class="container">
    <div class="alert alert-danger mt-5 col-sm-10 pt-2 pb-0" role="alert" align="center" *ngIf="generateenable">
        <p>{{generatealert}}</p>
      </div>
    <form #gpForm="ngForm" >
        <div class="container">
            <div class="row mt-5 form-inline ">
                <div class="form-group mx-sm-3">
                    <label for="startdate" class="mx-sm-5">Start Date</label>
                    <input type="text" placeholder="Datepicker" [bsConfig]="{dateInputFormat: 'DD-MM-YYYY',showWeekNumbers: false }" [(ngModel)]="startdate"
                        placeholder="DD/MM/YYYY" [maxDate]="maxDate" autocomplete="off"  class="form-control form-control-sm" name="startdate" id="startdate"
                        #sdate="ngModel" bsDatepicker required  [(bsValue)]="startdate"(ngModelChange)="changeStartDate()" >
                    <div *ngIf="sdate.touched">
                        <p *ngIf="sdate.errors?.required" style="color:red">Start Date Required</p>
                    </div>
                </div>



                <div class="form-group mx-sm-5">
                    <label for="endDate" class="mx-sm-5">End Date</label>
                    <input type="text" placeholder="Datepicker" [bsConfig]="{dateInputFormat: 'DD-MM-YYYY',showWeekNumbers: false }" [(ngModel)]="enddate"
                        class="form-control form-control-sm" autocomplete="off" name="enddate" [minDate]="minDate" placeholder="DD/MM/YYYY" #edate="ngModel"
                        bsDatepicker required  (ngModelChange)="changeEndDate()">
                    <div *ngIf="edate.touched">
                        <p *ngIf="edate.errors?.required" style="color:red">End Date Required</p>
                    </div>
                </div>

                
                    <div style="text-align: center">
                      <div class="div_cust_loading_sign" *ngIf="isLoading"> <div style="position:fixed;width:100%;height:100%;left:0px;top:0px;z-index:50000;background-color:#536c79;opacity:0.95"></div> <div style="position:fixed;width:100%;height:100%;left:0px;top:0px;z-index:60000"><div style="width:25%;height:25%;margin:0px auto;margin-top:20%"><i class="fa fa-spinner fa-pulse fa-4x fa-fw" ></i></div></div> </div>
                    </div>
             
                <div class="form-group ">
                    <button class="btn btn-primary"  (click)="generate()" [disabled]="!gpForm.valid" style="margin-right:10px;">Generate</button>
                </div>
                <div class="form-group  ml-4">
                    <button class="btn btn-primary" (click)="analyze()" [disabled]="!gpForm.valid" style="margin-right:10px;">Analyze</button>
                </div>

            </div>

        </div>
       
    </form>
</div>

<div class="container mt-5" *ngIf="enable">
    <div class="table-responsive" style="font-size: 13px;
    font-family: sans-serif;" >
        <table class="table table-bordered">
            <thead>
                <tr style="background-color: #27bbec; color: white">
                    <th>LIST NO</th>
                    <th>FROM DATE</th>
                    <th>END DATE</th>
                    <th>MSISDN COUNT</th>
                    <th>LINK</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of misisdnList">
                    <th scope="row">{{item.listId}}</th>
                    <td>{{item.startDate}}</td>
                    <td>{{item.endDate}}</td>
                    <td>{{item.msisdnCount}}</td>
                    <td><a href={{item.csvFilePath}} class="mx-sm-3"role="button">download</a>
                    <a  href="#" (click)="clear(item.listId);$event.preventDefault();" role="button">clear</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>