<p>
  newrequisitioninitiate works!
</p>
<div class="row">
	<div class="col-md-1">
		<div class="card-body"></div>
	</div>
	<div class="col-md-10">
		<div class="card">
				<div style="text-align: center">
						<i class="fa fa-spinner fa-pulse fa-3x fa-fw" *ngIf="isLoading" ></i>
					</div>
		<div class="alert alert-success" role="alert" *ngIf="successAlertShow">The New Work Request <b>{{WR_Name}}</b> {{successAlertMessage}}</div>
			<div class="alert alert-danger" role="alert" *ngIf="dangerAlertShow">An Error occured to create <b>{{WR_Name}}</b> {{dangerAlertMessage}}</div>
      <div class="alert alert-danger" role="alert" *ngIf="infoAlertShow"><b>{{infoAlertMessage}}</b></div>

			<div class="card-header">
				<strong>Employee Details</strong>
			</div>	
      <div class="card-body">			
					<div class="row" >
						<div class="col-md-12">
              <table style="width:50%" border="1">        
                <tr>
                  <td style="width:25%">Employee ID.</td>
                  <td style="width:25%;" bgcolor="#dcdcdc">{{employeeID}}</td>
                  <td style="width:25%">Mobile No.</td>
                  <td style="width:25%" bgcolor="#dcdcdc">{{mobileNo}}</td>
                </tr>
                <tr>
                  <td style="width:25%">Employee Name</td>
                  <td style="width:25%;" bgcolor="#dcdcdc">{{employeeName}}</td>
                  <td style="width:25%">Designation</td>
                  <td style="width:25%" bgcolor="#dcdcdc">{{designation}}</td>
                </tr>
                <tr>
                  <td style="width:25%">Department</td>
                  <td style="width:25%;" bgcolor="#dcdcdc">{{department}}</td>
                  <td style="width:25%">Division</td>
                  <td style="width:25%" bgcolor="#dcdcdc">{{division}}</td>
                </tr>
                <tr>
                  <td style="width:25%">Email</td>
                  <td style="width:25%;" bgcolor="#dcdcdc">{{emailAddress}}</td>
                  <td style="width:25%"></td>
                  <td style="width:25%" bgcolor="#dcdcdc"></td>
                </tr>                
              </table>						
					</div>				
      </div>
      <div class="card-header">
				<strong>Requisition Header</strong>
			</div>	
      <div class="card-body">			
					<div class="row" >
						<div class="col-md-12">
              <table style="width:50%" border="1">        
                <tr>
                  <td style="width:25%">Requisition No.</td>
                  <td style="width:25%;" bgcolor="#dcdcdc">{{requisitionNo}}</td>
                  <td style="width:25%">Requisition Date</td>
                  <td style="width:25%" bgcolor="#dcdcdc">{{requisitionDate}}</td>
                </tr>
                <tr>
                  <td style="width:25%">Requisition Type</td>
                  <td style="width:25%;" bgcolor="#dcdcdc">{{employeeName}}</td>
                  <td style="width:25%">Purpose Category</td>
                  <td style="width:25%" bgcolor="#dcdcdc">{{designation}}</td>
                </tr>
                <tr>
                  <td style="width:25%">Purpose Details</td>
                  <td style="width:25%;" bgcolor="#dcdcdc">{{department}}</td>
                  <td style="width:25%">Expected Test Start Date</td>
                  <td style="width:25%" bgcolor="#dcdcdc">{{division}}</td>
                </tr>
                <tr>
                  <td style="width:25%">Expected Test End Date</td>
                  <td style="width:25%;" bgcolor="#dcdcdc">{{emailAddress}}</td>
                  <td style="width:25%">Location</td>
                  <td style="width:25%" bgcolor="#dcdcdc"></td>
                </tr>

                <tr>
                  <td style="width:25%">Usage Category</td>
                  <td style="width:25%;" bgcolor="#dcdcdc">{{emailAddress}}</td>
                  <td style="width:25%">Notification No.</td>
                  <td style="width:25%" bgcolor="#dcdcdc"></td>
                </tr>
                
              </table>
						
					</div>				
			</div>

			<div *ngIf="isLoading" class="spinner-border text-primary" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			
		</div>
		<!-- <div class="card"> -->
	</div>
	<div class="col-md-2">
		<div class="card-body"></div>

	</div>
</div>
<!--
<pre >{{mySeriesDefinitionForm.value | json}}</pre>
<pre *ngIf="mySeriesDefinitionForm.valid">This is Valid form Data.{{mySeriesDefinitionForm.value | json}}</pre>
-->