:host ::ng-deep .data-table-row {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	
}

.st-sort-default:before {content: '\25B1'}
  .st-sort-ascent:before {content: '\25B2'}
  .st-sort-descent:before {content: '\25BC'}
  
 .calendar-container {
    background: url(https://cdn4.iconfinder.com/data/icons/36-slim-icons/87/calender.png) no-repeat right;
    background-size: 24px 24px;
	cursor: pointer;
	 
}
checkbox {
  margin: 8px;
  cursor: pointer;
  padding-left: 18px;
  padding-right: 0;
  line-height: 26px;
  min-width: 18px;
  min-height: 18px;
}