<div class="row">
	<div class="col-md-1">
		<div class="card-body"></div>
	</div>
	<div class="col-md-10">
		<div class="card">
		
		<div class="alert alert-success" role="alert" *ngIf="successAlertShow">The New Work Request <b>{{WR_Name}}</b> {{successAlertMessage}}</div>
			<div class="alert alert-danger" role="alert" *ngIf="dangerAlertShow">The New Work Request <b>{{WR_Name}}</b> {{dangerAlertMessage}}</div>

			<div class="card-header">
				<strong>SDP Migration</strong>
			</div>
			<form [formGroup]="mySdpMigrationForm" novalidate (ngSubmit)="onSdpMigrationSubmit()">
				<div class="card-body">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group row">
								<label class="col-md-5 col-form-label" for="reProvisionFile">SDP Migration File</label>
								<div class="col-md-7">
								
									<input type="file" id="reProvisionFile" name="reProvisionFile" class="form-control" formControlName="reProvisionFile" required
									 [ngClass]="{
										'is-invalid': reProvisionFile.invalid && (reProvisionFile.dirty || reProvisionFile.touched),
										'is-valid': reProvisionFile.valid && (reProvisionFile.dirty || reProvisionFile.touched)
								   }" (change)="onFileChange($event)" >
									<div class="invalid-feedback" *ngIf="reProvisionFile.errors && (reProvisionFile.dirty || reProvisionFile.touched)">
										<p *ngIf="reProvisionFile.errors.required">SDP Migration File is required</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer text-right">
					<button type="submit" [disabled]="!mySdpMigrationForm.valid" class="btn btn-sm btn-primary">
						<i class="fa fa-dot-circle-o"></i> Submit</button>
					<button type="reset" class="btn btn-sm btn-danger"(click)="clearForm($event)">
						<i class="fa fa-ban"></i> Reset</button>
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-2">
		<div class="card-body"></div>
	</div>
</div>