<div class="row">
	<div class="col-md-1">
		<div class="card-body"></div>
	</div>
	<div class="col-md-10">
		<div class="card">
			<div class="card-header">
				<strong>Provisioning (Active number series) :: {{wrBriefName}}</strong>
			</div>
			
			<div class="card-body">
				<table *ngFor="let aFnvPair of fieldNameValueList;  index as idx" class="table table-bordered table-striped table-sm">
					<tr *ngIf="idx % 2 == 0" >
						<td style ="width:25%:">{{fieldNameValueList[idx].fieldName}}</td>
						<td style ="width:25%">{{fieldNameValueList[idx].fieldValue}}</td>
						<td style ="width:25%">{{fieldNameValueList[idx+1].fieldName}}</td>
						<td style ="width:25%">{{fieldNameValueList[idx+1].fieldValue}}</td>
					</tr>
				</table >
			</div>
			
			</div>
		</div>
	</div>
<!--
<pre >{{mySeriesProvisionForm.value | json}}</pre>
<pre *ngIf="mySeriesProvisionForm.valid">This is Valid form Data.{{mySeriesProvisionForm.value | json}}</pre>
-->
