<div class="row">
	<div class="col-md-1">
		<div class="card-body"></div>
	</div>
	<div class="col-md-10">
		<div class="card">
		<div class="alert alert-success" role="alert" *ngIf="successAlertShow">The Work Request <b>{{wrBriefName}}</b> {{successAlertMessage}}</div>
		<div class="alert alert-danger" role="alert" *ngIf="dangerAlertShow">An Error occured to create <b>{{WR_Name}}</b> {{dangerAlertMessage}}</div>

			
			<div class="card-header">
				<strong>Provisioning (Active number series) :: {{wrBriefName}}</strong>
			</div>
			<!--Current Hop Sequence {{hop_sequence}}-->
			<div class="card-body">
					<div *ngFor="let aFnvPair of fieldNameValueList;  index as idx">
							<div class="row" *ngIf="idx % 2 == 0">
								<div class="col-md-6">
									<div class="form-group row">
										<div class="col-md-5 col-form-label">
											{{fieldNameValueList[idx].fieldName}}</div>
										<div class="col-md-7">
											<input disabled type="text" class="form-control calendar-container"
											value="{{fieldNameValueList[idx].fieldValue}}"></div>
									</div>
								</div>
								<div class="col-md-6" *ngIf="fieldNameValueList[idx+1].fieldName">
									<div class="form-group row">
										<div class="col-md-5 col-form-label">
											{{fieldNameValueList[idx+1].fieldName}}</div>
										<div class="col-md-7">
											<input disabled type="text" class="form-control calendar-container"
											value="{{fieldNameValueList[idx+1].fieldValue}}"></div>
									</div>
								</div>
							</div>
						</div>

					
					</div>
					<div class="row">
							<div *ngIf="groupID==_global.groupID_Wipro_Billing || groupID==_global.groupID_CIM">
								<button type="button" class="btn btn-link" (click)="downloadCSVFiles('ADC_File_')">
									<i class="fa fa-link" ></i>ADC File Download</button>
							</div>
							<div *ngIf="groupID==_global.groupID_CIM">
								<button type="button" class="btn btn-link" (click)="downloadCSVFiles('BPP_File_')">
									<i class="fa fa-link" ></i>BPP File Download</button>
							</div>
							<div *ngIf="groupID==_global.groupID_CIM">
								<button type="button" class="btn btn-link" (click)="downloadCSVFiles('MSISDN_Loading_file_')">
									<i class="fa fa-link" ></i>MSISDN Loading File Download</button>
							</div>
							
							<div *ngIf="groupID==_global.groupID_RAFM">
								<button type="button" class="btn btn-link" (click)="downloadCSVFiles('_rafm')">
									<i class="fa fa-link" ></i>Download RAFM File</button>
							</div>
					</div>


			
			<div class="card-footer text-right">
					<button type="submit" [disabled]="isDoneDisable" class="btn btn-sm btn-primary" (click)="onDoneClick($event)">
						<i class="fa fa-dot-circle-o"></i> Done</button>
						<button type="button" class="btn btn-link" (click)="backButton($event)"><i class="fa fa-link" ></i>&nbsp; Back</button>
				</div>
			
			
			<div *ngIf="isLoading" class="spinner-border text-primary" role="status">
				<span class="sr-only">Loading...</span>
			</div>
			
			
			</div>
		</div>
	</div>
