
<div class="animated fadeIn" >
   
    <div class="card">     
      <div class="row">
      <div class="col-lg-12" >
        <div class="card">
            <div style="text-align: center">
                <div class="div_cust_loading_sign" *ngIf="isLoading"> <div style="position:fixed;width:100%;height:100%;left:0px;top:0px;z-index:50000;background-color:#536c79;opacity:0.95"></div> <div style="position:fixed;width:100%;height:100%;left:0px;top:0px;z-index:60000"><div style="width:25%;height:25%;margin:0px auto;margin-top:20%"><i class="fa fa-spinner fa-pulse fa-4x fa-fw" ></i></div></div> </div>
              </div>
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Requisition Details :: <b>{{requestedSimAtatus}}</b> Requisitions
          </div>
          <div style="overflow-y: auto;" class="card-body" *ngIf="isDataFound">
            <table  class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>Requisition No</th>
                  <th>Requisition Date</th>
                  <!--<th>Quantity</th>-->
                  <th>Requisition Type</th>
                  <th>Challan No.</th>
                  <th>Batch</th>
                  <th>Start Serial</th>
                  <th>End Serial</th>
                  <th style="width: 80px;">Denomination</th>
                  <th>Test Mobile Number</th>
                  <th style="width: 70px;">NGVS Voucher status updated</th>
                  <th>Subs got SMS</th>
                  <th style="width: 70px;">AIRTime & Package added</th>
                  <th>Test start serial</th>
                  <th>Test end serial</th>
                  <th>Supplier Name</th>
                  <th>Test result</th>
                  <th>edit</th>
                  <th>Submit</th>
                  <th>deactivation</th>
                  <!-- <th>Challan Download</th> -->
                  <!--<th>Action</th>-->
                </tr>
              </thead>
             <tbody *ngFor="let aTask of requisitionList;  index as i">
                          <tr>
                              <td>{{aTask.requisitionNo}}</td>
                              <td>{{aTask.requisitionDate}}</td>
                              <td>{{aTask.requisitionType}}</td>
                              <td>{{aTask.challanNo}}</td>
                              <td>{{aTask.batch}}</td>
                              <td>{{aTask.startSerialDB}}</td>
                              <td>{{aTask.endSerialDB}}</td>
                              <td>{{aTask.denomination}}</td>
                              <td>{{aTask.testMsisdn}}</td>
                              <td>
                                <!-- <select [(ngModel)]="selectedOption" >
                                    <option *ngFor="let option of options" [value]="option">{{option}}</option>
                                </select> -->
                                <select [disabled]="!(isEditDone==i) || deativationDisable" [(ngModel)] = "aTask.ngvsVoucherStatusUpdated"  id="" name="" style="width: 90px;"  class="form-control" required>
                                    <!-- <option value="0"></option> -->
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                  </select>
                              </td>
                              <td>
                                <select [disabled]="!(isEditDone==i) || deativationDisable" [(ngModel)] = "aTask.smsReceived" id="" name="" style="width: 90px;" class="form-control">
                                    <!-- <option value="0"></option> -->
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                  </select>
                              </td>                              
                              <td>
                                <select [disabled]="!(isEditDone==i) || deativationDisable" [(ngModel)] = "aTask.atPackageAdded" id="" name="" style="width: 90px;" class="form-control">
                                    <!-- <option value="0"></option> -->
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                  </select>
                              </td>                             
                              <td>
                                <input [disabled]="!(isEditDone==i) || deativationDisable" [(ngModel)] = "aTask.scStartSlNo" style="width:120px;" type="text" class="form-control" required>
                              </td>
                              <td>
                                <input [disabled]="!(isEditDone==i) || deativationDisable" [(ngModel)] = "aTask.scEndSlNo" style="width:120px;" type="text" class="form-control" required>
                              </td>
                              <td>
                                <select [disabled]="!(isEditDone==i) || deativationDisable" style="width:90px;" [(ngModel)] = "aTask.supplierName" class="form-control" id="" required >
                                    <!-- <option></option> -->
                                    <option *ngFor="let oneSuppilername of listSuppilerName" [value]="oneSuppilername.group_name">{{oneSuppilername.group_name}}</option>
                                </select>
                              </td>
                              <td>
                                <select [disabled]="!(isEditDone==i) || deativationDisable" [(ngModel)] = "aTask.testResult" id="" name="" style="width:90px;" class="form-control">
                                    <!-- <option value="0"></option> -->
                                    <option value="Pass">Pass</option>
                                    <option value="Fail">Fail</option>
                                  </select>
                              </td>     
                              <td >
                                <!-- <a style="width:50px" class="btn btn-success"  (click)="editAction(aTask.requisitionId,i)">Edit</a> -->
                                <button class="btn btn-success" type="button" (click)="editAction(aTask.requisitionId,i)">Edit</button>

                              </td>
                              <td>
                                
                                <button [disabled]="!(isEditDone==i)||deativationDisable"  class="btn btn-success"  (click)="submitDeactivationData(aTask,aTask.requisitionId,i)">Submit</button>
                              </td>
                              <td>
                                
                                <!-- <button *ngIf="aTask.ngvsVoucherStatusUpdated!=null" [disabled]="!deativationDisable || !(isEditDone==i)" style="width:90px" class="btn btn-success"  (click)="finalDeactivation(aTask,aTask.requisitionId,i)">Deativate</button> -->
                                <!-- <button  {disabled="!showDeativationButton" style="width:90px" class="btn btn-success"  (click)="finalDeactivation(aTask,aTask.requisitionId,i)">Deativate</button> -->
                                <button *ngIf="newArray[i]==i" style="width:90px" class="btn btn-success"  (click)="finalDeactivation(aTask,aTask.requisitionId,i)">Deativate</button>

                                <button *ngIf="!(newArray[i]==i)" [disabled]="!deativationDisable || !(isEditDone==i)" style="width:90px" class="btn btn-success"  (click)="finalDeactivation(aTask,aTask.requisitionId,i)">Deativate</button>

                              </td>

                              
                          </tr>
              </tbody>
            </table>                
          </div>
          <div class="card-body" *ngIf="!isDataFound">
              <div class="alert alert-primary" role="alert" ><b>No Pending Tasks</b></div>			
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
  
   </div>
  </div>
  
  
     <!--<a href="#" (click) = "detailsAction(aTask)" > Details</a></button> </td>  -->
                              <!-- <a [routerLink]="detailsAction(aTask)">Details</a>/button> </td>   -->