<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <div class="card">
            <div class="div_cust_loading_sign" *ngIf="isLoading">
                <div style="position:fixed;width:100%;height:100%;left:0px;top:0px;z-index:50000;background-color:#536c79;opacity:0.95"></div>
                <div style="position:fixed;width:100%;height:100%;left:0px;top:0px;z-index:60000">
                    <div style="width:25%;height:25%;margin:0px auto;margin-top:20%"><i
                            class="fa fa-spinner fa-pulse fa-4x fa-fw"></i></div>
                </div>
            </div>

            <div class="card-header">
                <i class="fa fa-align-justify"></i> Upload CSV File for Recycled SMS
            </div>
            <form [formGroup]="myRecycledSmsForm" novalidate (ngSubmit)="submit()">

                <div class="card-body">

                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-md-5 col-form-label" for="listId">List<span
                                        style="color:red"> *</span></label>
                                <div class="col-md-7">
                                    <input type="text" id="listId" name="listId" class="form-control"
                                           formControlName="listId"
                                           [class.is-invalid]="listId.invalid && (listId.dirty || listId.touched)">

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-md-5 col-form-label" for="unusedSince">Unused since<span
                                        style="color:red"> *</span></label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control calendar-container" id="unusedSince"
                                           formControlName="unusedSince" name="unusedSince"  required bsDatepicker
                                           [bsConfig]="bsConfig"
                                           [maxDate]="todayDate" placement="right"
                                           [class.is-invalid]="unusedSince.invalid && (unusedSince.dirty || unusedSince.touched)">

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-md-5 col-form-label" for="msisdnCount">MSISDN count<span
                                        style="color:red"> *</span></label>
                                <div class="col-md-7">
                                    <input type="text" id="msisdnCount" name="msisdnCount" class="form-control"
                                           formControlName="msisdnCount"
                                           [class.is-invalid]="msisdnCount.invalid && (msisdnCount.dirty || msisdnCount.touched)">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-md-5 col-form-label" for="recycledSmsFile">Upload File:</label>
                                <div class="col-md-7   ">

                                    <input type="file" id="recycledSmsFile" name="recycledSmsFile" class="form-control"
                                           formControlName="recycledSmsFile" required
                                           (change)="handleFileInput($event.target.files)">
                                    <div class="invalid-feedback"
                                         *ngIf="recycledSmsFile.errors && (recycledSmsFile.dirty || recycledSmsFile.touched)">
                                        <p *ngIf="recycledSmsFile.errors.required"> File is required</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>

                    </div>
                    <div class="row">
                        <div classs="col-md-12">

                            <a href="assets/file/ListId_179_2_42726_03-11-2024.csv" download>Download sample file</a><br/>

                        </div>
                    </div>
                </div>

            </form>

        </div>

    </div>

</div>
					
