<div class="row">
	<div class="col-md-1">
		<div class="card-body"></div>
	</div>
	<div class="col-md-10">
		<div class="card">

				<div style="text-align: center">
						<div class="div_cust_loading_sign" *ngIf="isLoading"> <div style="position:fixed;width:100%;height:100%;left:0px;top:0px;z-index:50000;background-color:#536c79;opacity:0.95"></div> <div style="position:fixed;width:100%;height:100%;left:0px;top:0px;z-index:60000"><div style="width:25%;height:25%;margin:0px auto;margin-top:20%"><i class="fa fa-spinner fa-pulse fa-4x fa-fw" ></i></div></div> </div>
					</div>
			<div class="alert alert-success" role="alert" *ngIf="successAlertShow">The New Work Request <b>{{WR_Name}}</b> {{successAlertMessage}}</div>
			<div class="alert alert-danger" role="alert" *ngIf="dangerAlertShow">An Error occured to create <b>{{WR_Name}}</b> {{dangerAlertMessage}}</div>

			<div class="card-header">
				<strong>DE provisioning File List Upload</strong>
			</div>

			<div class="alert alert-danger" role="alert" *ngIf="infoAlertShow"><b>{{infoAlertMessage}}</b></div>

		
				<div class="card-body">
					<div class="row">
						<div class="col-md-6">
										<div class="form-group row">
										
										<label class="col-md-3 col-form-label" >Upload file</label>
										<div class="col-md-9">
											<input type="file" #csvReader name="Upload File" id="csvFileUpload" (change)="uploadListener($event)" accept=".csv" />
										</div>

										</div>
								</div>
								<div class="col-md-6">

									</div>
					</div>

					<a href="assets/file/SampleDeProvisionFileList.csv" download>Download sample file</a>
				</div>
				
				<div class="card-body" *ngIf="isFileInfoValid">
					<form [formGroup]="myDeProvisionListForm" novalidate (ngSubmit)="onDeProvisionSubmit()">
						<div class="card-body">
		
		
							<div class="row">
								<div class="col-md-6">
												<div class="form-group row">
												<label class="col-md-5 col-form-label" for="deProvisionListFile">De Provision File</label>
												<div class="col-md-7">
													<input type="file" multiple ="multiple" id="deProvisionListFile" name="deProvisionListFile" class="form-control" formControlName="deProvisionListFile" required
										 (change)="onFileChange($event)" accept=".csv" >
													
												</div>
												</div>
										</div>
										<div class="col-md-6">
		
											</div>
							</div>
		
							<span [innerHTML]="fileListDetails"></span>
		
						</div>
						<!-- <div class="card-body"> -->
						<div class="card-footer text-right">
							<button type="submit" [disabled]="isDisableBtn" class="btn btn-sm btn-primary">
								<i class="fa fa-dot-circle-o"></i> Submit</button>
							<button type="reset" class="btn btn-sm btn-danger"(click)="clearForm($event)">
								<i class="fa fa-ban"></i> Reset</button>
							<button type="button" class="btn btn-link" (click)="backButton($event)"><i class="fa fa-link" ></i>&nbsp; Back</button>
		
						</div>
						<!-- <div class="card-footer"> -->
					</form>
			</div>
				

			<!-- <div class="card-body"> -->
				
		

		</div>
		<!-- <div class="card"> -->
	</div>
</div>
