<div class="row">

  <div class="col-md-12">

    <div class="card" style="border:0px !important;background:transparent !important">
          <div style="text-align: center">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw" *ngIf="isLoading" ></i>
          </div>
    </div>
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> <b>Active</b> Test SIMs assigned to myself
      </div>
      <div class="card-body" *ngIf="isDataFound">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th><input type="checkbox" [(ngModel)] = "selectAll" (change)="handleSelectAll(selectAll?'1':'0')"  /></th>
              <th>SL</th>
              <th>MSISDN</th>
              <th>RQN #</th>
              <th>RQN Type</th>
              <th>SIM Status</th>
              <th>RQN Date</th>
              <th>Test start date</th>
              <th>Test end date</th>
              <th>Credit limit</th>
            </tr>
          </thead>
          <tbody *ngFor="let aTask of requisitionList;  index as i">
                      <tr>
                          <td><input type="checkbox" [(ngModel)] = "aTask.selected" /></td>
                          <td>{{i + 1}}</td>
                          <td>{{aTask.msisdn}}</td>
                          <td>{{aTask.requisitionNo}}</td>                          
                          <td>{{aTask.requisitionType}}</td>
                          <td>{{aTask.simStatus}}</td>
                          <td>{{aTask.requisitionDateAsString}}</td>
                          <td>{{aTask.testStartDateAsString}}</td>
                          <td>{{aTask.testEndDateAsString}}</td>
                          <td>{{aTask.assignedCreditLimit}}</td>                                                                              
                      </tr>
          </tbody>
        </table>

        <br /><br />

        <a style="font-size:0.8em;width:140px;height:32px" class="btn btn-success" (click) = "timeExtension()" >Time Limit Extension</a>
        <a style="font-size:0.8em;width:140px;height:32px" class="btn btn-primary" (click) = "creditLimitExtension()" >Credit Limit Extension</a>
        <a style="width:140px;height:32px" class="btn btn-success" (click) = "recharge()" >Recharge</a>
        <a style="width:140px;height:32px" class="btn btn-primary" (click) = "surrender()" >Surrender</a>
        <a style="width:140px;height:32px" class="btn btn-success" (click) = "damaged()" >Damaged</a>
        <a style="width:140px;height:32px" class="btn btn-primary" (click) = "lost()" >Lost</a>
        <a style="width:140px;height:32px" class="btn btn-success" (click) = "transfer()" >Transfer</a>
      </div>
      <div class="card-body" *ngIf="!isDataFound">
          <div class="alert alert-primary" role="alert" ><b>System found no active test SIMs</b></div>
      </div>
    </div>
    

    <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> My other Test SIMs (<b>not active SIMs</b>)
        </div>
        <div class="card-body" *ngIf="isDataFoundOther">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>SL</th>
                <th>MSISDN</th>
                <th>RQN #</th>
                <th>RQN Type</th>
                <th>SIM Status</th>
                <th>RQN Date</th>
                <th>Test start date</th>
                <th>Test end date</th>
                <th>Credit limit</th>
              </tr>
            </thead>
            <tbody *ngFor="let aTask of requisitionListOther;  index as i">
                        <tr>
                            <td>{{i + 1}}</td>
                            <td>{{aTask.msisdn}}</td>
                            <td>{{aTask.requisitionNo}}</td>                          
                            <td>{{aTask.requisitionType}}</td>
                            <td>{{aTask.simStatus}}</td>
                            <td>{{aTask.requisitionDateAsString}}</td>
                            <td>{{aTask.testStartDateAsString}}</td>
                            <td>{{aTask.testEndDateAsString}}</td>
                            <td>{{aTask.assignedCreditLimit}}</td>                                                                              
                        </tr>
            </tbody>
          </table>
        </div>
        <div class="card-body" *ngIf="!isDataFoundOther">
            <div class="alert alert-primary" role="alert" ><b>System found no other (non-active) test SIMs</b></div>
        </div>
    </div>

  </div>


</div>
