<div class="row">
	<div class="col-md-1">
		 
	</div>
	<div class="col-md-10">
		<div class="card">
   
		<div class="card-header" *ngIf="viewall">
            <i class="fa fa-align-justify"></i>  Voucher Plan Management
          </div>
           <div class="card-body" *ngIf="viewall">
          

           <table class="table table-bordered table-striped table-sm">
                <thead>
                  <tr>
                    <th>PO Number
                    <p></p>
                     <input  class="form-control" [(ngModel)]="searchText" (change)="poChange()"placeholder="Search PO Number.." class="advancedSearchTextbox">
                     </th>
                    <th>Batch ID
                     <p></p></th>
                      <th>Vendor
                       <p></p>
                        <input  class="form-control" [(ngModel)]="vendor" (change)="vendorChange()"placeholder="Search Vendor" class="advancedSearchTextbox"></th>
                      <th>Batch Quantity
                       <p></p></th>
                      <th>PO Quantity
                       <p></p></th>
                    <th>Delivered Quantity
                       <p></p></th>
                       <th>Item Number
                       <p></p><input  class="form-control" [(ngModel)]="item" (change)="itemChange()"placeholder="Search Vendor" class="advancedSearchTextbox"></th>
                    <th>Action
                       <p></p></th>
                    
                  </tr>
                </thead>
                <tbody *ngFor="let aTask of listVoucherHopsdata ">
                            <tr>
                                <td>{{aTask.ponumber}}</td>
                                <td>{{aTask.batchNo}}</td>
                                <td>{{aTask.vendor}}</td>
                                <td>{{aTask.poQuantity}}</td>
                                <td>{{aTask.deliveredQuantity}}</td>
                                <td>{{aTask.batchQuantity}}</td>
                                 <td>{{aTask.ItemNumber}}</td>
                                 <td> <a  href="#" (click)="download(aTask.ponumber,aTask.batchNo,aTask.vendor,aTask.poQuantity,aTask.deliveredQuantity,aTask.batchQuantity,aTask.ItemNumber);$event.preventDefault();" role="button">Download</a> </td>
               
                            </tr>
                </tbody>
              </table>
           </div>
         
           </div>
           
            <div id="div_pagination">
			<a class="btn btn-link" (click)="firstPage()">&lt;&lt;</a>			
			&nbsp;
			&nbsp;
			<a class="btn btn-link" (click)="prevPage()">&lt;</a>
			&nbsp;
			&nbsp;
			Page {{currPage}} of {{totalPages}}
			&nbsp;
			&nbsp;
			<a class="btn btn-link" (click)="nextPage()">&gt;</a>
			&nbsp;
			&nbsp;
			<a class="btn btn-link" (click)="lastPage()">&gt;&gt;</a>              
		</div>
           </div>