 <div class="row">
	<div class="col-md-1">
		 
	</div>
	<div class="col-md-10">
		<div class="card">
		 <div class="div_cust_loading_sign" *ngIf="isLoading"> <div style="position:fixed;width:100%;height:100%;left:0px;top:0px;z-index:50000;background-color:#536c79;opacity:0.95"></div> <div style="position:fixed;width:100%;height:100%;left:0px;top:0px;z-index:60000"><div style="width:25%;height:25%;margin:0px auto;margin-top:20%"><i class="fa fa-spinner fa-pulse fa-4x fa-fw" ></i></div></div> </div>
   
		<div class="card-header" *ngIf="firstHop">
            <i class="fa fa-align-justify"></i>  Voucher Plan Management  
          </div>
          <div class="card-body" *ngIf="!isDataFound">
                                
              No data found...
      
      </div>
           <div class="card-body" *ngIf="firstHop && isDataFound">
           <table class="table table-bordered table-striped table-sm">
                <thead>
                  <tr>
                    <th>PO Number</th>
                    <th>Batch No</th>
                    <th>Batch Quantity</th>
                    <th>Start Serial</th>
                    <th>End Serial</th>
                    <th>Denomination</th>
                    <th>Card Group</th>                    
                    <th>Voucher serial digit</th>
                    <th>Hidden number digit</th>
                    <th>Expiry Date</th>
                    <th><a>
                        <input type="checkbox" [(ngModel)]="masterSelected" (change)="checkUncheckAll()" />
                      </a></th>
                  </tr>
                </thead>
                <tbody *ngFor="let aTask of listVoucherHopsdata">
                            <tr>
                              <td>{{aTask.ponumber}}</td>    
                              <td>{{aTask.batchNo}}</td>
                              <td>{{aTask.quantity}}</td>
                              <td>{{aTask.serial}}</td>
                              <td>{{aTask.serial + aTask.quantity}}</td>
                              <td>{{aTask.denomination}}  </td>
                              <td> {{aTask.cardgroup}}</td>
                              <td> {{aTask.serialDigitCount}}</td>
                              <td> {{aTask.hiddenNumberCount}}</td>
                              <td>{{aTask.expirydate }}   </td>  
                                 <td><input type="checkbox" value="{{aTask.id}}" [(ngModel)]="aTask.checked"></td>
                               
                            </tr>
                </tbody>
              </table>
           
           
           </div>
            
          <div class="card-body" *ngIf="isDataFound">
            
           	  <div class="row">
                      <div class="col-md-6">
                      <label  class="col-md-5 col-form-label">Comment</label>   
                    <input type="text" class="form-control" [(ngModel)] = "comments"  maxlength="200" />
                  </div>
                 </div>
                 
                   <div class="col-md-6"  *ngIf="isbatchTest">
                     <form [formGroup]="radioTest">
                     <div class="form-group row">
                        <label  class="col-md-5 col-form-label">Batch Pass</label>   
  				<input type="radio" class="form-control" name="batch" value='pass' formControlName="batch" [(ngModel)]='batch'>
  				</div>
  				<div class="form-group row">
  				  <label  class="col-md-5 col-form-label">Batch Fail</label>
  				<input type="radio" class="form-control" name='batch' value='fail' formControlName="batch" [(ngModel)]='batch'>
						</div>
						</form>
                  </div>

           </div>
          
           <div class="card-footer" *ngIf="isButton && isDataFound">
          
                 <button   class="btn btn-sm btn-primary" (click)="submit()">Approve</button>
                  <button   class="btn btn-sm btn-danger" (click)="cancel()"> Cancel</button>
           </div>
           
           
           <div class="card-footer" *ngIf="isActivation && isDataFound">
          
                 <button   class="btn btn-sm btn-primary" (click)="submitActivate()">Approve</button>
                  <button   class="btn btn-sm btn-danger" (click)="cancel()"> Cancel</button>
           </div>
          
           </div>
           </div>
              
           
           </div>