<div class="row">
	<div class="col-md-1">
		 
	</div>
	<div class="col-md-10">
		<div class="card">
		<div class="card-header" *ngIf="firstHop">
            <i class="fa fa-align-justify"></i>  Voucher Plan Management Approval 
          </div>
           <div class="card-body" *ngIf="firstHop">
           <table class="table table-bordered table-striped table-sm">
                <thead>
                  <tr>
                    <th>Po Number</th>
                    <th>Batch Quantity</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody *ngFor="let aTask of listVoucherHopsdata">
                            <tr>
                                <td>{{aTask.ponumber}}</td>
                                <td>{{aTask.batchNo}}</td>
                                <td> <a  href="#" (click)="download(aTask.id);$event.preventDefault();" role="button">Download</a> </td>
                            </tr>
                </tbody>
              </table>
           </div>
         
           
             
          
           </div>
           </div>
           
           </div>