<div class="row">

    <div class="col-md-12">
      
      <div class="card" style="border:0px !important;background:transparent !important">
      </div>
      <div class="card">
      <div class="card-header">
            <i class="fa fa-align-justify"></i>Input File
          </div>
          <div class="card-body">
                          
           <div style="padding-bottom: 4px;">
         		<span class="firstLabel"> Batch No.
            				 <input id="wgtmsr"  type="text" >
                </span>
				<span class="secondLabel"> Denomination
		  					  <select id="wgtmsr"  >
                                                                         <option value="Denomination ">1</option>
                                                                          <option value="Test Denomination ">2</option>
                              </select>  
				</span>           
           </div>
           
           <div style="padding-bottom: 4px;">  
          		 <span class="firstLabel">Start Serial 
           					 <input id="wgtmsr"  type="text" >
                 </span>
				<span class="secondLabel"> End Serial
		 					<input id="wgtmsr"  type="text" >
				</span>   
           </div>
           
           <div style="padding-bottom: 4px;">
         		<span class="firstLabel"> Batch Qty
       					   <input id="wgtmsr"  type="text" >       
                </span>
       			 <span class="secondLabel"> Vendor
       					     <select id="wgtmsr"  >
                                                                    <option value="Test Vendor ">Vendor Test</option>
																	  <option value="Test Vendorww32 ">Vendor Test32</option>
                             </select>         
                   </span>
                   </div>
                   
           
           
          
          <div style="padding-bottom: 4px;">
              
              <label style="float:right"> <button >Finalize </button> </label>
            </div>
          
          
          
          
          </div>
          
          
          
          </div>
          </div>
          </div>
          
          